@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(fonts.css);

:root {
	--toastify-color-success: #8491d9;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-family: 'Pretendard', 'Noto Sans KR', 'Monaco', sans-serif;
	letter-spacing: -0.5px;
}

body {
	font-family: 'Pretendard', 'Noto Sans KR', 'Monaco', sans-serif;
	letter-spacing: -0.5px;
}

#__next {
	height: 100vh;
}

code {
	font-family: 'Monaco', 'Pretendard', 'Noto Sans KR', sans-serif !important;
	word-wrap: break-word;
	border-radius: 4;
	font-size: 16px;
	font-weight: 600;
}

@media screen and (max-width: 767px) {
	code {
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
	}
}

#markdown-wrapper > h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin: 3rem 0 1rem;
}

#markdown-wrapper > h3 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	margin: 1rem 0 1rem;
}

#markdown-wrapper > h4 {
	font-size: 20px;
	margin: 0.5rem 0 1rem;
}

#markdown-wrapper > blockquote {
	margin-bottom: 2rem;
}

#markdown-wrapper > blockquote > p {
	margin-bottom: 0;
}
