@import url(fonts.css) layer(base);
@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
	--color-main: #2196f3;
	--color-dark: #1b1d25;
	--color-darkText: #d8dbe7;
	--color-red: #eb455f;
	--color-yellow: #ffe15d;
	--color-yellowKakao: #ffde00;
	--color-yellowKakaoHover: #d8c543;
	--color-white: #ffffff;
	--color-grey: rgba(41, 69, 105, 0.1);
	--color-greyLight: #eaeaea;
	--color-greyCopy: #6b728e;

	--breakpoint-*: initial;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1370px;

	--z-index-content: 1;
	--z-index-tag: 2;
	--z-index-floating: 9;
	--z-index-header: 10;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}

	button {
		cursor: pointer;
	}
}

:root {
	--toastify-color-success: var(--color-main) !important;
}

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	font-family: 'Pretendard', 'Noto Sans KR', 'Monaco', sans-serif;
}

#__next {
	height: 100vh;
}

code {
	word-wrap: break-word;
	border-radius: 4;
	font-size: 14px;
}

@media screen and (max-width: 767px) {
	code {
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
	}
}

.prose pre::-webkit-scrollbar {
	display: none;
}
/* Fenced Code block - hide horizontal scrollbar: mozila */
.prose pre {
	scrollbar-width: none;
}

.prose pre > code {
	display: grid;
	tab-size: 2;
	-moz-tab-size: 2;
}

.prose pre span[data-line] {
	@apply inline-block py-0.5 leading-snug;
}

.prose code[data-line-numbers] {
	counter-reset: line;
}

.prose code[data-line-numbers] > span[data-line]::before {
	counter-increment: line;
	content: counter(line);

	display: inline-block;
	width: 0.75rem;
	margin-right: 1.25rem;
	text-align: right;
}

.prose code[data-line-numbers-max-digits='2'] > span[data-line]::before {
	width: 1.25rem;
}
.prose code[data-line-numbers-max-digits='3'] > span[data-line]::before {
	width: 1.75rem;
}

/* Inline code block backtick display: none */
.prose :not(pre) > code::before,
.prose :not(pre) > code::after {
	display: none;
}

.prose p {
	@apply break-keep;
}

/* inline code block style */
.prose :not(pre) > code {
	@apply relative rounded bg-main/10 px-1 py-0.5 align-middle text-sm font-semibold text-main dark:bg-main/20;
	top: -2px;
	font-family: inherit !important;
}

/* #markdown-wrapper > h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin: 3rem 0 1rem;
}

#markdown-wrapper > h3 {
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	margin: 1rem 0 1rem;
}

#markdown-wrapper > h4 {
	font-size: 20px;
	margin: 0.5rem 0 1rem;
}

#markdown-wrapper > blockquote {
	margin-bottom: 2rem;
}

#markdown-wrapper > blockquote > p {
	margin-bottom: 0;
} */
